* {
  font-family: fantasy;
}

.content{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content > div{
  height: fit-content;
}

.question-container.active {
  text-align: center;
  padding: 2rem;
  max-width: 30em;
  align-self: center;
}

.question-number{
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 9px;
  margin-bottom: 12px;
}

.question-title{
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
  display: inline-block;
  margin-bottom: 0.4em;
  background: linear-gradient(-140deg, #E6366E, #2144C0 120%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.answers {
  text-align: left;
}

.answer-title, .answer-info {
  margin-left: 50px;
}

input.answer-radio {
  position: absolute;
  cursor: pointer;
}

.answer {
  margin: 16px 0;
  cursor: pointer;
  border: 2px solid lightpink;
  padding: 0.7em;
  border-radius: 14px;
}

.btn-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.question-container{
  display: none; 
}

.question-container.active{
  display: block;
  overflow-y: auto;
  transition: all 0.2s ease-in;
  /* transition-delay: 0.3s;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  visibility: visible;
  transform: translateX(0);
  opacity: 1; */
  
}

.bounce-out{
  animation: animationFrames linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    opacity:1;
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    opacity:1;
    transform:  scaleX(0.95) scaleY(0.95) ;
  }
  50% {
    opacity:1;
    transform:  scaleX(1.10) scaleY(1.10) ;
  }
  100% {
    opacity:0;
    transform:  scaleX(0.30) scaleY(0.30) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:1;
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    opacity:1;
    -moz-transform:  scaleX(0.95) scaleY(0.95) ;
  }
  50% {
    opacity:1;
    -moz-transform:  scaleX(1.10) scaleY(1.10) ;
  }
  100% {
    opacity:0;
    -moz-transform:  scaleX(0.30) scaleY(0.30) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:1;
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    opacity:1;
    -webkit-transform:  scaleX(0.95) scaleY(0.95) ;
  }
  50% {
    opacity:1;
    -webkit-transform:  scaleX(1.10) scaleY(1.10) ;
  }
  100% {
    opacity:0;
    -webkit-transform:  scaleX(0.30) scaleY(0.30) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:1;
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    opacity:1;
    -o-transform:  scaleX(0.95) scaleY(0.95) ;
  }
  50% {
    opacity:1;
    -o-transform:  scaleX(1.10) scaleY(1.10) ;
  }
  100% {
    opacity:0;
    -o-transform:  scaleX(0.30) scaleY(0.30) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:1;
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    opacity:1;
    -ms-transform:  scaleX(0.95) scaleY(0.95) ;
  }
  50% {
    opacity:1;
    -ms-transform:  scaleX(1.10) scaleY(1.10) ;
  }
  100% {
    opacity:0;
    -ms-transform:  scaleX(0.30) scaleY(0.30) ;
  }
}